@using Microsoft.AspNetCore.Mvc.TagHelpers
@using OrganizaMed.Dominio.Atividades
@model InserirAtividadesViewModel

<form asp-action="Adicionar" method="post" class="mt-4">
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
    }

    <div class="form-group">
        <label asp-for="TipoAtividade" class="control-label"></label>
        <select asp-for="TipoAtividade" class="form-control">
            @foreach (var tipo in Enum.GetValues(typeof(TipoAtividade)))
            {
                <option value="@tipo">@tipo</option>
            }
        </select>
        <span asp-validation-for="TipoAtividade" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MedicoId" class="control-label"></label>
        <select asp-for="MedicoId" class="form-control" id="MedicoId" name="MedicoId">
            @foreach (var medico in Model.Medicos)
            {
                <option value="@medico.Id">@medico.Nome</option>
            }
        </select>
        <span asp-validation-for="MedicoId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DataInicio" class="control-label"></label>
        <input asp-for="DataInicio" class="form-control" type="datetime-local"/>
        <span asp-validation-for="DataInicio" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DataFim" class="control-label"></label>
        <input asp-for="DataFim" class="form-control" type="datetime-local"/>
        <span asp-validation-for="DataFim" class="text-danger"></span>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Adicionar</button>
    </div>

    <div>
        <a class="btn btn-outline-primary px-5" href="/Atividades/Listar">
            <i class="bi bi-arrow-return-left me-1"></i>
            Voltar
        </a>
    </div>
</form>