@model IEnumerable<ListarAtividadesViewModel>

@{
    ViewBag.Title = "Listar Atividades";
}

<div class="col">

    <a class="btn btn-primary px-4 mt-3" asp-controller="Atividades" asp-action="Adicionar">
        <i class="bi bi-circle-add"></i>
        Inserir nova Atividade
    </a>

    <div class="row gap-2 my-3 my-xl-5">
        @foreach (var atividadeVm in Model)
        {
            <div class="card col-lg-4 col-xl-3">
                <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
                    <h5 class="p-0">@atividadeVm.Id</h5>

                    <div class="text-end d-flex align-items-center gap-3">
                        <a title="Detalhes"
                           class="text-info-emphasis fs-5"
                           href="/Atividades/Detalhes/@atividadeVm.Id">
                            <i class="bi bi-search"></i>
                        </a>
                        <a title="Atualizar"
                           class="text-info-emphasis fs-5"
                           href="/Atividades/Atualizar/@atividadeVm.Id">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <a title="Excluir"
                           class="text-info-emphasis fs-5" href="/Atividades/Excluir/@atividadeVm.Id">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </div>
                </div>

                <div class="card-body">
                    <h5 class="card-title">@atividadeVm.Medicos</h5>
                </div>

                <div class="card-body">
                    <h5 class="card-title">@atividadeVm.DataInicio</h5>
                </div>

                <div class="card-body">
                    <h5 class="card-title">@atividadeVm.DataTermino</h5>
                </div>

                <div class="card-body">
                    <h5 class="card-title">@atividadeVm.TipoAtividade</h5>
                </div>

            </div>
        }
    </div>
</div>